.grettings {
    background: url(../../img/grettings.css/fon.png) no-repeat center/cover;
    margin-top: 30px;
}

.container {}

.grettings__content {}

.header {
    display: inl;
    display: flex;
    column-gap: 400px;
    justify-content: space-between;
}

.logo {}

.nav {}

.nav_list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.nav_item a{
    font-family: var(--LibreLF);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
}

.square {
    width: 4px;
    height: 4px;
    background-color: white;
}

.nav_item:last-child {
    border: 2px solid white;
    padding: 11px 17px;
    border-radius: 4px;
}

.grettings__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grettings_title {
    font-family: var(--LibreLF);
    font-weight: 700;
    font-size: 71px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.grettings_text {
    font-family: var(--LibreIBM);
    font-weight: 700;
    font-size: 13px;
    line-height: 185%;
    text-align: center;
    color: #fff;
}

.btn {
    font-family: var(--LibreLF);
        font-weight: 400;
        font-size: 16;
        line-height: 187%;
        text-align: center;
        border-radius: 4px;
        margin-top: 34px;
        padding: 15px 30px;
        background: #5AB963;
        border: 0;
        color: white;
}

.grettings__btn{

}

.nav_item:hover a{
    color: #5AB963;
    border-color: #5AB963;
}

.nav_item:last-child:hover {
    border-color: #5AB963;
}


    